@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-gray-100{
    width: 100%;
}

.shadow-sm{
    padding: 10px;
    border: solid #f2f2f2;
}

.custom-bg-color {
    background-color: #308276;
  }
  